*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

#grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.grid-item{
  aspect-ratio: 1 / 1;
  border-radius: 10px;
  background-color: purple;
}

h1{
  color: white;
}