body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #232323;
  margin: 0;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.grid-item {
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  background-color: purple;
}

#reset {
  background: white;
  height: 30px;
  text-align: center;
}
 
.selected {
  background: steelblue;
}

h1 {
  text-align: center;
  color: white;
  margin: 0;
  font-weight: normal;
  text-transform: uppercase;
}

.headerPart {
  display: block; /* Moves 'The Great' to a new line */
}

#colorDisplay {
  font-size: 46px;
}
